Notes:

Strings:

In [17]:
username = 'jeevan kumar katiyar'
x=len(username)
print (username[2])

e

List:

In [20]:
mylist = [123,'chai',True, 3.14]
len(mylist)
mylist[2]
mylist[-1]

3.14

dictionary

In [28]:
myDictionary ={'one':'lemon','two':'ginger tea','three':'mint'}
myDictionary['one']

myD = {'Superheroes':'saktiman','Superheroes':'nagraj'}
print(myD)

{'Superheroes': 'nagraj'}

Tuples

In [22]:
myTup = (1,2,3,5)
myTup[0]

1

Type Conversion.

In [34]:
name = 'A'
d = ord(name)

print(d)
print(type(d))

65
<class 'int'>

Internal working of python.
- pyhton's garbage collector does not immediatley collect STIRNG and INT ; therefore late garbage collection

In [36]:
string = True

print(type(string))

<class 'bool'>

the types of the object/ data is always in the object not in the name;
in the above example the datatype of the string is detrmined by the value of the object (True).

Understanding of Mutable and Immutable Difference in list Memory refrences

In [44]:
l1 =[1,2,3]
l2 =l1
# here the refrence is same therefore both l1,l2 values are [1,2,3]
print(l1)
print(l2)

l1[0]=0 # here the refernce did not change there changing the value of l1 made changes the l2
print(l1)
print(l2)

[1, 2, 3]
[1, 2, 3]
[0, 2, 3]
[0, 2, 3]

In [47]:
c1 = [1,2,3]
c2 =c1
print(c1)
print(c2)
c1 =[1,2,3] # here a new refrence was created for c1, therefore the the refence of c1 changed and the refernce of c2 remain same.
c1[0] =100
print(c1,c2)

[1, 2, 3]
[1, 2, 3]
[100, 2, 3] [1, 2, 3]

In [69]:
h1 =[1,2,3]
h2 =h1[:]
print(h1)
print(h2)
h1[0] ='a'
print(h1)
print(h2)

[1, 2, 3]
[1, 2, 3]
['a', 2, 3]
[1, 2, 3]

Note:
when doing slicing in memory copies are created.

NUMBERS:
- is not a single object but a group of object

>>> repr('jeevan')
"'jeevan'"
>>> str('jeevan')
'jeevan'
>>> print('jeevan')
jeevan

In [98]:
import random
random.randint(1,100)

l1 = ['lemon','mint','ginger']
random.choice(l1)

# random.shuffle(l1)
# print(l1)

'lemon'

In [101]:
from decimal import Decimal
# decimal context manager - to read

Sets:
NOTE: empty sets are denoted by set() not by {}
empty {} == dictionary

In [102]:
setone = { 1,2,3,4,5}
setone & {1,2,5}

{1, 2, 5}